.LanguageSwitcher {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
}

.LanguageSwitcher a {
  text-decoration: none;
  color: #c20;
}

.LanguageSwitcher a:hover {
  text-decoration: underline;
}

.LanguageSwitcher b {
  font-weight: 400;
}
