.PostPageLayout {
  padding: 24px 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.PostPageLayout > header,
.PostPageLayout > header .siteTitle,
.PostPageLayout > header ul.NavigationMenu li a {
  font-size: 13px;
  font-weight: 300;
}

.PostPageLayout > header,
.PostPageLayout > header nav ul {
  display: flex;
  align-items: baseline;
}

.PostPageLayout > header .siteTitle {
  flex-grow: 1;
}

.PostPageLayout > header .siteTitle a {
  padding-right: 20px;
}

.PostPageLayout > header .siteTitle,
.PostPageLayout > header nav ul,
.PostPageLayout > header nav ul li {
  padding: 0;
  margin: 0;
}

.PostPageLayout > header nav ul li a {
  padding-left: 14px;
  padding-right: 14px;
}

.PostPageLayout > header .LanguageSwitcher {
  margin-left: 20px;
}


.PostPageLayout > main article > * {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
}

.PostPageLayout > main article h1 {
  font-size: 40px;
  text-align: center;
  max-width: 760px;
}

.PostPageLayout > main article p {
  font-size: 17px;
  line-height: 26px;
}
