.siteTitle {
  font-family: Bitter, sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}

aside .siteTitle {
  margin: 10px 0;
  line-height: 40px;
  min-height: 40px;
}

.siteTitle,
.siteTitle a {
  color: #c20;
  text-decoration: none;
}
