.TopLevelPageLayout {
  padding: 24px 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.TopLevelPageLayout .LanguageSwitcher {
  float: right;
}

.TopLevelPageLayout > .content {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 20px;
}

.TopLevelPageLayout > .content > aside nav {
  margin-top: 15px;
  margin-bottom: 25px;
}