@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&display=swap&subset=latin-ext');

body {
    background: white;
    color: black;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #04c;
}

a:hover {
    color: #026;
}

h1 a,
h2 a {
    text-decoration: none;
}

.Layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 20px;
    gap: 20px;
    padding: 20px;
}