@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

body {
background: white;
color: black;
font-family: Roboto, sans-serif;
font-size: 14px;
margin: 0;
padding: 0;
}

h1.siteTitle {
font-family: Bitter, sans-serif;
font-size: 21px;
margin: 10px 0;
text-transform: uppercase;
}

h1.siteTitle,
h1.siteTitle a {
  color: #c20;
  text-decoration: none;
}

.subtitle {
  font-size: 17px;
  color: #c20;
  margin: 10px 0 20px 0;
}

a {
  color: #04c;
}

a:hover {
  color: #026;
}

h1 a,
h2 a {
  text-decoration: none;
}

.Layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  gap: 20px;
  padding: 24px 30px;
  max-width: 980px;
  margin: 0 auto;
}

nav > ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-top: 2px;
  margin-bottom: 2px;
}

nav li a {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  display: block;
  padding: 3px 0 3px 0px;
}